# PostgreSQL
DB_NAME=mydb
DB_USER=myuser
DB_PASSWORD=secret
DB_PORT=5432
DB_HOST=db  # use "localhost" for local development

# Superuser (admin)
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=supersecret

# App
SECRET_KEY=change_me_in_production
PROD=False
